
            /* ==========================================================================
               Author's custom styles

                Screen Stylesheet

                version:   1.0
                date:      11/11/2013
                author:    Disnay Batista
                email:     disnay@hotmail.com

                website:   http://www.cesmac.com.br
               ========================================================================== */

            /* AJUSTES NAS CLASSES BOOTSTRAP */

            .navbar-brand { padding: 10px 15px; }

            p { margin: 0 0 0px; }

            .navbar {
                border-radius: 0px;
                margin-bottom: 10px;
            }

            .navbar-default {
                -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
                -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
                box-shadow: 0 2px 4px rgba(0,0,0,0.25);
            }

            fieldset {
                background-color: white;
                border: 1px solid #E7E8ED;
                margin-bottom:20px;
                padding: 20px;
            }

            fieldset:hover { border: 1px solid #d8d9dd; }

            legend {
                color:#007CC4;
                display: inline;
                width: auto;
                font-size: 16px;
                padding: 10px 12px;
                border-top: 1px solid #E7E8ED;
                border-right: 1px solid #E7E8ED;
                border-bottom: 1px none #E7E8ED;
                border-left: 1px solid #E7E8ED;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                background-color: #FFFFFF;
                margin-left: -1px;
                margin-bottom: 0px;
            }

            label { margin-top: 15px; }

            .breadcrumb {
                background-color: #fff;
                padding: 0px 0px;
            }

            .modal-content {
                border: 6px solid #4472ac;
                border: 6px solid rgba(68, 114, 172, 1);
            }

            .modal-body {
                overflow-y: auto;
                min-height: 300px;
                height: 400px;
            }

            .thumbnail .caption {
                padding-top:3px;
                padding-bottom:0px;
                padding-left:0px;
                padding-right:0px;
                text-align: center;
            }

            input[type="file"] { margin-top: 5px; }

            /* .container { max-width: 960px!important; } DEFINE A LARGURA PADRÃO MÁXIMA DAS PÁGINAS */


            /* CORPO DA PÁGINA */

            body {
                font-family: 'Open Sans', sans-serif;
                background-repeat: no-repeat;
                background-position: center 40px;
            }

            h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                line-height: 1.1;
            }

            /* fim */

            .semFundo {
                background-color:#fff;
                background-image: none;
            }

            .barr-tit { }

            .barr-tit h1 { color: #007CC4; }

            /* TOPO, MEIO E RODAPÉ */

            header, .main, footer {
                padding-top:10px;
                padding-bottom:10px;
            }

            /* CONTAINER QUE ENVOLVE O CABEÇALHO */

            #header-container { background-color: ; }

            /* fim */

            /* CABEÇALHO (topo) */

            header {  }

            /* fim */

            /* LOGO */

            .logo { }

            /* fim */

            /* MENU */

            .menu {
                background-color: #007CC4;
                border-radius:3px;
                /*
                filter:alpha(opacity=.75);
                    -moz-opacity: .75;
                    opacity: .75;
                */
                margin-bottom:10px;
                margin-bottom:10px;
            }

            .menu>.nav-pills>li>a {
                border-radius: 0px;
                color:#fff;
                padding-top:15px;
                padding-bottom:15px;
            }

            .menu>.nav-pills>li>a:hover {
                background-color:#fff ;
                color:#007CC4;
            }

            .menu>.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
                background-color: #006DAE;
                border-radius:3px;
                color: #fff;
            }

            /* fim */

            /* CONTAINER QUE ENVOLVE A ÁREA PRINCIPAL */

            .main-container { }

            /* fim */

            /* PRINCIPAL (meio)*/

            .conteudo {
                -webkit-box-shadow: 0px 0px 26px rgba(50, 50, 50, 0.31);
                -moz-box-shadow:    0px 0px 26px rgba(50, 50, 50, 0.31);
                box-shadow:         0px 0px 26px rgba(50, 50, 50, 0.31);
                border-radius: 6px;
                background-color: #fff;
                border: 1px solid #E7E8ED;
                padding: 30px;
            }

            /* fim */

            /* CONTAINER QUE ENVOLVE O RODAPÉ */

            #footer-container { }

            /* fim */

            /* RODAPÉ */

            footer {
                padding-top: 30px;
                padding-bottom: 30px;
            }

            footer p { color: #777; }

            /* fim */

            /* BACKGROUND ENDEREÇO RODAPÉ */

            .bg-endereco-rodape {  }

            .endereco-rodape {
                padding-top: 30px;
                padding-bottom: 30px;
            }

            /* fim */

            /* mantendo altura mínima nas imagens

            .thumbnail-img-list {
                width: 100%;
                min-height:115px;
                max-height:115px;
            }

            */

            /* oculta a parte que fica fora da div

            .overflow-hidden {
                overflow:hidden;
                text-align:left;
                vertical-align:top;
            }

            */
